# Puerto para el servidor Express
PORT="Tu puerto"

# URL de conexión para Prisma (usuario:password@host:puerto/base_de_datos)
DATABASE_URL="Tu URL de la BD"

# Secret para JWT
JWT_SECRET="Tu secreto para JWT"